body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 0 3em;
    margin: 0 5em;
    background-image: url("../img/thimo-van-leeuwen.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 800px) {
    body {
        padding: 0 0.5em;
        margin: 0 1em;
    }

    .inner-body {
        padding: 0em;
    }
}

.inner-body {
    background: white;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yaldevi', sans-serif;
    color: #10550e;
}

header {
    padding-bottom: 1em;
    text-align: center;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #10550e;
}

a:hover,
a:visited,
a:focus {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #453472;
}

hr {
    color: rgb(207, 207, 207);
    border: 1px dashed;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px dotted rgb(184, 184, 184);
    text-align: left;
    padding: 0.2em 0.5em;
}

.profile {
    max-width: 20%;
    height: auto;
    border-radius: 50%;
    filter: brightness(85%) sepia(40%);
}

.name {
    font-size: 2.5em;
}

.title {
    font-size: 1.5em;
    font-family: 'Yaldevi', sans-serif;
}

.social ul {
    list-style-type: none;
    font-size: 2em;
    margin: 0;
}

.social a {
    border-bottom: none;
    color: #406123;
}

.social a:hover,
.social a:visited,
.social a:focus {
    border-bottom: none;
    color: #578331;
}

.social li {
    display: inline;
}

footer {
    padding-top: 1em;
    text-align: center;
}
